@import url('https://fonts.googleapis.com/css?family=Inconsolata');

.ui.grid.ComposeView {
    padding: 2rem 0;
    flex-direction: column;
    min-height: 98vh;
}

.ui.grid.ComposeView .ComposeRow {
    flex-grow: 1;
}

.ui.grid.ComposeView .SettingsRow {
    flex-grow: 0;
}

.ui.grid.ComposeView .ui.piled.segment {
    flex: 1;
}

.ui.grid.ComposeView .CodeComposer {
    border: 0;
    background-color: transparent;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    resize: none;
    font-family: 'Inconsolata', monospace;
}

.ui.grid.ComposeView .CodeComposer:focus {
    outline: 0;
}