pre {
    background: #FFF !important;
    font-family: 'Inconsolata', monospace !important;
}

code {
    font-family: 'Inconsolata', monospace !important;
}

.ui.grid.DisplayView {
    padding: 2rem 0;
}

.ui.piled.segment {
    min-height: 100px;
}